@using TP.Core
@model TP.Data.Entities.PageModels.DashboardPageModel.DashboardPageUserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="m-content">
    <div class="col-xl-12">
        <!--begin:: Widgets/Support Tickets -->
        <div class="m-portlet m-portlet--full-height ">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="col-lg-12">
                        <br /><br />
                        <textarea class="form-control" type="text" name="newTrit" id="newTrit"></textarea>
                    </div>
                    <br />
                    <div class="col-lg-1 float-right">
                        <button class="btn btn-success col-lg-12" onclick="sendTrit('@ViewBag.UserId')" style="margin-bottom: 10px">Tritle</button>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <div class="m-widget3">
                    @foreach (var trit in Model.TritOthersListModel)
                    {
                        <div class="m-widget3__item">
                            <div class="m-widget3__header">
                                <div class="m-widget3__user-img">
                                    <img class="m-widget3__img" src="~/Content/assets/app/media/img/users/user1.jpg" alt="">
                                </div>
                                <div class="m-widget3__info">
                                    <span class="m-widget3__username">
                                        @trit.username
                                    </span>
                                    <br>
                                    <span class="m-widget3__time">
                                        @trit.trit_time.ToString("dd.MM.yyyy HH:mm")
                                    </span>
                                </div>


                                <div class="m-demo-icon__preview">
                                    <i class="flaticon-rocket"></i>
                                </div>

                                <div class="m-demo-icon__preview">
                                    <i onclick="alert('@ViewBag.UserId' + '@trit.trit_id')" class="la la-heart-o"></i>
                                </div>
                            </div>
                            <div class="m-widget3__body">
                                <p class="m-widget3__text">
                                    @trit.trit_text
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            </div>
            <!--end:: Widgets/Support Tickets -->
        </div>
    </div>


